version: '3.3'

#volumes:
#    prometheus_data: {}
#    grafana_data: {}

networks:
  front-tier:
  back-tier:

configs:
  prometheus.yml:
    file: ./prometheus/prometheus.yml
  alert.rules:
    file: ./prometheus/alert.rules
  config.yml:
    file: ./alertmanager/alert.rules
  dashboard.yml:
    file: ./grafana/provisioning/dashboards/dashboard.yml
  docker-dashboard_rev5.json:
    file: ./grafana/provisioning/dashboards/docker-dashboard_rev5.json
  datasource.yml:
    file: ./grafana/provisioning/datasources/datasource.yml

services:

  grafana:
    image: grafana/grafana
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    configs:
      - source: dashboard.yml
        target: /etc/grafana/provisioning/dashboards/dashboard.yml
        uid: '472'
      - source: docker-dashboard_rev5.json
        target: /etc/grafana/provisioning/dashboards/docker-dashboard_rev5.json
        uid: '472'
      - source: datasource.yml
        target: /etc/grafana/provisioning/datasources/datasource.yml
        uid: '472'
 
#    volumes:
#      - grafana_data:/var/lib/grafana
#      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    networks:
      - back-tier
      - front-tier
    restart: always
    deploy:
       replicas: 2
       
  mariadb:
     image: mariadb
     environment:
         - MYSQL_ROOT_PASSWORD=mariadb
         - MYSQL_DATABASE=grafana
     networks:
      - back-tier

  prometheus:
    image: prom/prometheus
    configs:
      - source: prometheus.yml
        target: /etc/prometheus/prometheus.yml
      - source: alert.rules
        target: /etc/prometheus/alert.rules
#    volumes:
#      - ./prometheus/:/etc/prometheus/
#      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
#      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
#      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    links:
      - cadvisor:cadvisor
      - alertmanager:alertmanager
    depends_on:
      - cadvisor
    networks:
      - back-tier
    restart: always
    deploy:
       replicas: 2
#      placement:
#        constraints:
#          - node.hostname == ${HOSTNAME}

  node-exporter:
    image: prom/node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    networks:
      - back-tier
    restart: always
    deploy:
      mode: global

  alertmanager:
    image: prom/alertmanager
    ports:
      - 9093:9093
    configs:
      - source: config.yml
        target: /etc/alertmanager/config.yml
#    volumes:
#      - ./alertmanager/:/etc/alertmanager/
    networks:
      - back-tier
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      - '--mesh.peer=alertmanager2:6783'
  alertmanager2:
    image: prom/alertmanager
    ports:
      - 9094:9093
    configs:
      - source: config.yml
        target: /etc/alertmanager/config.yml
#    volumes:
#      - ./alertmanager/:/etc/alertmanager/
    networks:
      - back-tier
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
      - '--mesh.peer=alertmanager:6783'
  cadvisor:
    image: google/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8080:8080
    networks:
      - back-tier
    restart: always
    deploy:
      mode: global

